*, *::after, *::before {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

.fx-admin-page {
  overflow: hidden; }
  .fx-admin-page h1 {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc; }
  .fx-admin-page h2 {
    margin: 1em 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2; }
  .fx-admin-page .form-table {
    border: 1px solid #d6d6d6;
    background-color: #fff; }
    @media (min-width: 768px) {
      .fx-admin-page .form-table {
        width: 80%; } }
    .fx-admin-page .form-table th {
      padding: 20px 15px; }
    .fx-admin-page .form-table td {
      padding: 15px; }
    .fx-admin-page .form-table input,
    .fx-admin-page .form-table textarea {
      width: 100%;
      max-width: 300px;
      padding: 8px; }
      .fx-admin-page .form-table input[type="checkbox"], .fx-admin-page .form-table input[type="radio"],
      .fx-admin-page .form-table textarea[type="checkbox"],
      .fx-admin-page .form-table textarea[type="radio"] {
        width: auto; }

.meta-field {
  margin: 10px 0; }
  .meta-field input,
  .meta-field textarea {
    width: 300px;
    max-width: 100%;
    margin: 0;
    outline: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box; }
  .meta-field input[type='checkbox'], .meta-field input[type='radio'] {
    width: auto;
    margin-right: 3px; }
  .meta-field .description {
    padding: 0; }

.meta-field__title {
  margin-bottom: 5px; }

.meta-field--small input {
  max-width: 50px; }

.input-pairs__item {
  margin-bottom: 20px;
  overflow: hidden; }
  .input-pairs__item label {
    display: block;
    margin-bottom: .5em;
    font-weight: bold; }
  .input-pairs__item input {
    width: 80%; }
  .input-pairs__item textarea {
    width: 100%;
    min-height: 3em; }

.location_map_input__map-container {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: #d6d6d6; }
  .location_map_input__map-container .location_map_input__map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .location_map_input__map-container .location_map_input__map img {
      max-width: none; }
  .location_map_input__map-container .gmnoprint img {
    max-width: none; }

.location .location__trigger {
  margin-top: 5px; }

.location .location__response {
  color: #ccc;
  font-size: .8em; }

.select-icon {
  position: relative; }

.icon-picker {
  width: 45px;
  height: 45px;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: 0;
  background-color: #fff;
  font-size: 24px;
  line-height: 45px;
  text-align: center; }
  .icon-picker:hover {
    background-color: #f5f5f5;
    color: inherit;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    cursor: pointer; }
  .icon-picker.no-icon::before {
    content: '...'; }

.icon-picker-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 275px;
  height: 300px;
  padding: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 2;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px; }
  .icon-picker-container.hidden {
    display: none; }
  .icon-picker-container ul {
    margin: 0 0 10px;
    padding: 0; }
    .icon-picker-container ul [class*='icon--'] {
      display: block;
      width: 20px;
      height: 20px;
      font-size: 20px;
      text-align: center; }
  .icon-picker-container li {
    display: inline-block;
    margin: 5px;
    float: left; }
    .icon-picker-container li a {
      display: block;
      padding: 6px 10px;
      border: 1px solid #ccc;
      color: #35292c;
      text-decoration: none; }
      .icon-picker-container li a:hover {
        border-color: #ccc;
        background: #f5f5f5; }

.icon-picker-control {
  height: 32px; }
  .icon-picker-control a {
    width: 25px;
    padding: 5px;
    line-height: 32px;
    text-decoration: none; }
    .icon-picker-control a span {
      display: inline;
      vertical-align: middle; }
  .icon-picker-control input {
    width: 200px; }
  .icon-picker-control p {
    margin: 0;
    padding: 2px;
    text-align: center; }
  .icon-picker-control select {
    display: inline-block;
    width: auto;
    margin: 0 auto; }

.select-media__preview {
  padding: 10px 0 0;
  overflow: hidden;
  word-break: break-all; }

.media__attachment {
  display: inline;
  position: relative;
  float: left; }

.media__attachment--detailed {
  display: block;
  margin-bottom: 15px;
  float: none;
  overflow: hidden; }
  .media__attachment--detailed .media__preview {
    width: 100%;
    margin: 0 auto; }
  .media__attachment--detailed label {
    display: block;
    margin-bottom: .5em;
    font-weight: bold; }
  .media__attachment--detailed textarea {
    min-height: 5em; }
  .media__attachment--detailed .button {
    float: right; }

.media__attachment--row {
  display: block;
  position: relative;
  margin: 0 0 15px;
  padding: 5px 15px 5px 5px;
  float: none;
  clear: both;
  border: 1px solid #ccc;
  border-radius: 3px; }

.media__preview {
  width: 100px;
  margin: 0 20px 10px 0;
  padding-bottom: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

#side-sortables .media__preview {
  width: 55px;
  height: 65px; }

.select-media__remove {
  position: absolute;
  top: -8px;
  right: 10px;
  width: 20px;
  height: 20px;
  padding: 0;
  border: 0;
  border-radius: 50%;
  outline: 0;
  background: #fff;
  color: #0073aa;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 0 4px #ccc;
          box-shadow: 0 0 4px #ccc; }
  .select-media__remove:hover {
    cursor: pointer; }

.media-detailed__input {
  width: 100%;
  margin-bottom: 10px; }
  .media-detailed__input label {
    display: block; }
  .media-detailed__input input,
  .media-detailed__input textarea {
    width: 100%; }

.select-order .select-order__preview {
  margin-top: 10px; }

.select-order .select-order__item {
  display: inline-block;
  margin: 0 5px 5px 0;
  padding: 3px 6px;
  border: 1px solid #d6d6d6;
  border-radius: 3px;
  outline: 0;
  background: none;
  cursor: pointer; }
  .select-order .select-order__item span {
    display: inline-block;
    margin-left: 3px; }
  .select-order .select-order__item:hover {
    -webkit-box-shadow: 0 0 3px #d6d6d6;
            box-shadow: 0 0 3px #d6d6d6; }

#wpfooter {
  display: none; }
